
.imgg {
    margin: 50px 60px 0px 60px;
     width: 250px;
     height: 400px;
     border: 3px solid blue;
     border-radius: 15%;
}  
.divv2 {
    
    width: 25%;
    color:white;
   float: left;
   text-align: center;
   height: 100%;
   margin-bottom: 30px;
}   
.body {
    
    height: 100%;
  
  
}
.h6 {
    color: black;
    margin: 5px;

}