.body {
    background-image: url(khalfia1.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
  
  
}
.h1{
    margin-top:200px;
    text-align: center;
    color: aliceblue;
    
}
.h3 {

    text-align: center;
    color: aliceblue;
    margin-bottom: 300px;
}
h2 {
    text-align:center ;
    color: navy;
}
p {
    text-align: center;
  
}
pre {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hh3 {
    text-align: center;
    color: white;
    padding-top: 10px;
}
.img1 {
    width: 15%;
    height: 20%;
   margin-left: 42%;
   margin-right: 40%; 
   border-radius: 100px;
}
.div1 {
 width: 30%;
 height: 80%;
 float: left;
 margin-left: 0;


}

a:hover {
    color:blue;
    text-decoration:underline blue;

}
a{
    color: gold;
    text-decoration: none;
    margin: 20px;
    display: inline;
}


button {
    background-color: dodgerblue;
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
   clear: both;
    margin-right: 40%;
   
}
button:hover{
    background-color: yellow;
    color: blue;
}
.img2 {
    width: 250px;
    height: 200px;
    margin: 10px;
}
.div2 {
    width:49%;
    height: 80%;
    float: right;
}
.div3 {
    width: 100%;
    height: 470px;
    clear: both;
    background-color: dodgerblue;
  
}
.img3 {
    margin:10px  100px;
    width: 200px;
    height: 200px;
    border: 3px solid blue;
    border-radius: 50%;
 
    
   
}
.div4 {
 
   width: 25%;
float: left;
border: 1px blue; 
margin: 5px 60px;


}
.pre2 {
    margin:10px ;
    margin-right: 70px;
    margin-left: 90px;
    text-align: center;

line-height: 1.3;
    
}
.div5 {
    width: 40%;
    float: left;
    margin-top: 20px;
   
}
.pre3 {
    float: right;
    line-height: 1.3;
 
    
}
.img4 {
    margin-left: 150px;
    width: 140px;
    height: 140px;
    border: 3px solid blue;
    border-radius: 50%;
    
}
.butt {
    height: 40px;
}
/*gallary*/
.hh1{
    color: blue;
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
}
.divv {
   
    margin-top: 0;
  
}
.imgg {
   margin: 30px 60px;
    width: 230px;
    height: 200px;
    border: 3px solid blue;
    border-radius: 15%;
}
.divv1{
    background-color: dodgerblue;
    padding: 10px;
    clear: both;
    height: 90px;
    margin-top: 10px;
 
  
}
.divv2 {
    
    width: 30%;
    color:white;
   float: left;
   text-align: center;
}
.imgg1 {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.aa{
    text-align: center;
    line-height: 1.7;
}
